openapi: 3.0.0
info:
  title: Jikan API
  description: |-
    [Jikan](https://jikan.moe) is an **Unofficial** MyAnimeList API.
    It scrapes the website to satisfy the need for a complete API - which MyAnimeList lacks.
  termsOfService: https://jikan.moe/terms
  contact:
    name: API Support (Discord)
    url: http://discord.jikan.moe
  license:
    name: MIT
    url: https://github.com/jikan-me/jikan-rest/blob/master/LICENSE
  version: 4.0.0
servers:
  - url: https://api.jikan.moe/v4
    description: Jikan REST API Beta
paths:
  /anime/{id}:
    get:
      tags:
        - anime
      operationId: getAnimeById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Returns anime resource
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/anime'
                type: object
        '400':
          description: 'Error: Bad request. When required parameters were not supplied.'
  /anime/{id}/characters:
    get:
      tags:
        - anime
      operationId: getAnimeCharacters
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Returns anime characters resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anime_characters'
        '400':
          description: 'Error: Bad request. When required parameters were not supplied.'
  /characters/{id}:
    get:
      tags:
        - characters
      operationId: getCharacterById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Returns character resource
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/character'
                type: object
        '400':
          description: 'Error: Bad request. When required parameters were not supplied.'
  /characters/{id}/anime:
    get:
      tags:
        - characters
      operationId: getCharacterAnime
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Returns anime that character is in
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/character_anime'
        '400':
          description: 'Error: Bad request. When required parameters were not supplied.'
  /genres/anime:
    get:
      tags:
        - genres
      operationId: getAnimeGenres
      parameters:
        - name: filter
          in: query
          schema:
            $ref: '#/components/schemas/genre_query_filter'
      responses:
        '200':
          description: Returns entry genres, explicit_genres, themes and demographics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/genres'
        '400':
          description: 'Error: Bad request. When required parameters were not supplied.'
  /anime:
    get:
      tags:
        - anime
      operationId: getAnimeSearch
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/limit'
        - name: q
          in: query
          schema:
            type: string
        - name: type
          in: query
          schema:
            $ref: '#/components/schemas/anime_search_query_type'
        - name: score
          in: query
          schema:
            type: number
        - name: min_score
          in: query
          description: Set a minimum score for results.
          schema:
            type: number
        - name: max_score
          in: query
          description: Set a maximum score for results
          schema:
            type: number
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/anime_search_query_status'
        - name: rating
          in: query
          schema:
            $ref: '#/components/schemas/anime_search_query_rating'
        - name: sfw
          in: query
          description: Filter out Adult entries
          schema:
            type: boolean
        - name: genres
          in: query
          description: Filter by genre(s) IDs. Can pass multiple with a comma as a delimiter. e.g 1,2,3
          schema:
            type: string
        - name: genres_exclude
          in: query
          description: Exclude genre(s) IDs. Can pass multiple with a comma as a delimiter. e.g 1,2,3
          schema:
            type: string
        - name: order_by
          in: query
          schema:
            $ref: '#/components/schemas/anime_search_query_orderby'
        - name: sort
          in: query
          schema:
            $ref: '#/components/schemas/search_query_sort'
        - name: letter
          in: query
          description: Return entries starting with the given letter
          schema:
            type: string
        - name: producers
          in: query
          description: Filter by producer(s) IDs. Can pass multiple with a comma as a delimiter. e.g 1,2,3
          schema:
            type: string
        - name: start_date
          in: query
          description: 'Filter by starting date. Format: YYYY-MM-DD. e.g `2022`, `2005-05`, `2005-01-01`'
          schema:
            type: string
        - name: end_date
          in: query
          description: 'Filter by ending date. Format: YYYY-MM-DD. e.g `2022`, `2005-05`, `2005-01-01`'
          schema:
            type: string
      responses:
        '200':
          description: Returns search results for anime
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anime_search'
        '400':
          description: 'Error: Bad request. When required parameters were not supplied.'
components:
  schemas:
    anime:
      description: Anime Resource
      properties:
        mal_id:
          description: MyAnimeList ID
          type: integer
        url:
          description: MyAnimeList URL
          type: string
        images:
          $ref: '#/components/schemas/anime_images'
        trailer:
          $ref: '#/components/schemas/trailer_base'
        title:
          description: Title
          type: string
        title_english:
          nullable: true
          description: English Title
          type: string
        title_japanese:
          nullable: true
          description: Japanese Title
          type: string
        title_synonyms:
          description: Other Titles
          type: array
          items:
            type: string
        type:
          nullable: true
          description: Anime Type
          type: string
          enum:
            - TV
            - OVA
            - Movie
            - Special
            - ONA
            - Music
        source:
          nullable: true
          description: Original Material/Source adapted from
          type: string
        episodes:
          nullable: true
          description: Episode count
          type: integer
        status:
          nullable: true
          description: Airing status
          type: string
          enum:
            - Finished Airing
            - Currently Airing
            - Not yet aired
        airing:
          description: Airing boolean
          type: boolean
        aired:
          $ref: '#/components/schemas/daterange'
        duration:
          nullable: true
          description: Parsed raw duration
          type: string
        rating:
          nullable: true
          description: Anime audience rating
          type: string
          enum:
            - G - All Ages
            - PG - Children
            - PG-13 - Teens 13 or older
            - R - 17+ (violence & profanity)
            - R+ - Mild Nudity
            - Rx - Hentai
        score:
          nullable: true
          description: Score
          type: number
          format: float
        scored_by:
          nullable: true
          description: Number of users
          type: integer
        rank:
          nullable: true
          description: Ranking
          type: integer
        popularity:
          nullable: true
          description: Popularity
          type: integer
        members:
          nullable: true
          description: Number of users who have added this entry to their list
          type: integer
        favorites:
          nullable: true
          description: Number of users who have favorited this entry
          type: integer
        synopsis:
          nullable: true
          description: Synopsis
          type: string
        background:
          nullable: true
          description: Background
          type: string
        season:
          nullable: true
          description: Season
          type: string
          enum:
            - summer
            - winter
            - spring
            - fall
        year:
          nullable: true
          description: Year
          type: integer
        broadcast:
          $ref: '#/components/schemas/broadcast'
        producers:
          type: array
          items:
            $ref: '#/components/schemas/mal_url'
        licensors:
          type: array
          items:
            $ref: '#/components/schemas/mal_url'
        studios:
          type: array
          items:
            $ref: '#/components/schemas/mal_url'
        genres:
          type: array
          items:
            $ref: '#/components/schemas/mal_url'
        explicit_genres:
          type: array
          items:
            $ref: '#/components/schemas/mal_url'
        themes:
          type: array
          items:
            $ref: '#/components/schemas/mal_url'
        demographics:
          type: array
          items:
            $ref: '#/components/schemas/mal_url'
      type: object
    anime_images:
      properties:
        jpg:
          description: Available images in JPG
          properties:
            image_url:
              nullable: true
              description: Image URL JPG
              type: string
            small_image_url:
              nullable: true
              description: Small Image URL JPG
              type: string
            large_image_url:
              nullable: true
              description: Image URL JPG
              type: string
          type: object
        webp:
          description: Available images in WEBP
          properties:
            image_url:
              nullable: true
              description: Image URL WEBP
              type: string
            small_image_url:
              nullable: true
              description: Small Image URL WEBP
              type: string
            large_image_url:
              nullable: true
              description: Image URL WEBP
              type: string
          type: object
      type: object
    trailer_base:
      description: Youtube Details
      properties:
        youtube_id:
          nullable: true
          description: YouTube ID
          type: string
        url:
          nullable: true
          description: YouTube URL
          type: string
        embed_url:
          nullable: true
          description: Parsed Embed URL
          type: string
      type: object
    daterange:
      description: Date range
      properties:
        from:
          nullable: true
          description: Date ISO8601
          type: string
        to:
          nullable: true
          description: Date ISO8601
          type: string
        prop:
          description: Date Prop
          properties:
            from:
              description: Date Prop From
              properties:
                day:
                  nullable: true
                  description: Day
                  type: integer
                month:
                  nullable: true
                  description: Month
                  type: integer
                year:
                  nullable: true
                  description: Year
                  type: integer
              type: object
            to:
              description: Date Prop To
              properties:
                day:
                  nullable: true
                  description: Day
                  type: integer
                month:
                  nullable: true
                  description: Month
                  type: integer
                year:
                  nullable: true
                  description: Year
                  type: integer
              type: object
            string:
              nullable: true
              description: Raw parsed string
              type: string
          type: object
      type: object
    broadcast:
      description: Broadcast Details
      properties:
        day:
          nullable: true
          description: Day of the week
          type: string
        time:
          nullable: true
          description: Time in 24 hour format
          type: string
        timezone:
          nullable: true
          description: Timezone (Tz Database format https://en.wikipedia.org/wiki/List_of_tz_database_time_zones)
          type: string
        string:
          nullable: true
          description: Raw parsed broadcast string
          type: string
      type: object
    mal_url:
      description: Parsed URL Data
      properties:
        mal_id:
          description: MyAnimeList ID
          type: integer
        type:
          description: Type of resource
          type: string
        name:
          description: Resource Name/Title
          type: string
        url:
          description: MyAnimeList URL
          type: string
      type: object
    anime_characters:
      description: Anime Characters Resource
      properties:
        data:
          type: array
          items:
            properties:
              character:
                description: Character details
                properties:
                  mal_id:
                    description: MyAnimeList ID
                    type: integer
                  url:
                    description: MyAnimeList URL
                    type: string
                  images:
                    $ref: '#/components/schemas/character_images'
                  name:
                    description: Character Name
                    type: string
                type: object
              role:
                description: Character's Role
                type: string
              voice_actors:
                type: array
                items:
                  properties:
                    person:
                      properties:
                        mal_id:
                          type: integer
                        url:
                          type: string
                        images:
                          $ref: '#/components/schemas/people_images'
                        name:
                          type: string
                      type: object
                    language:
                      type: string
                  type: object
            type: object
      type: object
    character_images:
      properties:
        jpg:
          description: Available images in JPG
          properties:
            image_url:
              nullable: true
              description: Image URL JPG
              type: string
            small_image_url:
              nullable: true
              description: Small Image URL JPG
              type: string
          type: object
        webp:
          description: Available images in WEBP
          properties:
            image_url:
              nullable: true
              description: Image URL WEBP
              type: string
            small_image_url:
              nullable: true
              description: Small Image URL WEBP
              type: string
          type: object
      type: object
    people_images:
      properties:
        jpg:
          description: Available images in JPG
          properties:
            image_url:
              nullable: true
              description: Image URL JPG
              type: string
          type: object
      type: object
    character:
      description: Character Resource
      properties:
        mal_id:
          description: MyAnimeList ID
          type: integer
        url:
          description: MyAnimeList URL
          type: string
        images:
          $ref: '#/components/schemas/character_images'
        name:
          description: Name
          type: string
        name_kanji:
          nullable: true
          description: Name
          type: string
        nicknames:
          description: Other Names
          type: array
          items:
            type: string
        favorites:
          description: Number of users who have favorited this entry
          type: integer
        about:
          nullable: true
          description: Biography
          type: string
      type: object
    character_anime:
      description: Character casted in anime
      properties:
        data:
          type: array
          items:
            properties:
              role:
                description: Character's Role
                type: string
              anime:
                $ref: '#/components/schemas/anime_meta'
            type: object
      type: object
    anime_meta:
      properties:
        mal_id:
          description: MyAnimeList ID
          type: integer
        url:
          description: MyAnimeList URL
          type: string
        images:
          $ref: '#/components/schemas/anime_images'
        title:
          description: Entry title
          type: string
      type: object
    genre_query_filter:
      description: Filter genres by type
      type: string
      enum:
        - genres
        - explicit_genres
        - themes
        - demographics
    genres:
      description: Genres Collection Resource
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/genre'
      type: object
    genre:
      description: Genre Resource
      properties:
        mal_id:
          description: MyAnimeList ID
          type: integer
        name:
          description: Genre Name
          type: string
        url:
          description: MyAnimeList URL
          type: string
        count:
          description: Genre's entry count
          type: integer
      type: object
    anime_search_query_type:
      description: Available Anime types
      type: string
      enum:
        - tv
        - movie
        - ova
        - special
        - ona
        - music
    anime_search_query_status:
      description: Available Anime statuses
      type: string
      enum:
        - airing
        - complete
        - upcoming
    anime_search_query_rating:
      description: Available Anime audience ratings<br><br><b>Ratings</b><br><ul><li>G - All Ages</li><li>PG - Children</li><li>PG-13 - Teens 13 or older</li><li>R - 17+ (violence & profanity)</li><li>R+ - Mild Nudity</li><li>Rx - Hentai</li></ul>
      type: string
      enum:
        - g
        - pg
        - pg13
        - r17
        - r
        - rx
    anime_search_query_orderby:
      description: Available Anime order_by properties
      type: string
      enum:
        - mal_id
        - title
        - type
        - rating
        - start_date
        - end_date
        - episodes
        - score
        - scored_by
        - rank
        - popularity
        - members
        - favorites
    search_query_sort:
      description: Characters Search Query Sort
      type: string
      enum:
        - desc
        - asc
    anime_search:
      description: Anime Collection Resource
      allOf:
        - properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/anime'
          type: object
        - $ref: '#/components/schemas/pagination_plus'
    pagination_plus:
      properties:
        pagination:
          properties:
            last_visible_page:
              type: integer
            has_next_page:
              type: boolean
            items:
              properties:
                count:
                  type: integer
                total:
                  type: integer
                per_page:
                  type: integer
              type: object
          type: object
      type: object
  responses:
    '400':
      description: 'Error: Bad request. When required parameters were not supplied.'
  parameters:
    page:
      name: page
      in: query
      schema:
        type: integer
    limit:
      name: limit
      in: query
      schema:
        type: integer
externalDocs:
  description: About
  url: https://jikan.moe
